{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="wrapper">
    <form method="POST" action="{{url_for('login')}}">
      <h2>Login Form</h2>
        <div class="input-field">
        <input type="text" id="email" name="email" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" id="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <a href="{{url_for('admin')}}">admin_login</a>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
      </div>
    </form>
  </div>
  {% endblock %}
